.main {
  padding: 6vh 10vw;
  height: 100vh;

  &.menu {
    background-color: var(--text-primary);
    padding: 15vh 10vw;
  }

  .nav {
    display: flex;
    justify-content: space-between;

    .navButtonContainer {
      display: flex;
      gap: 10px;
    }
  }

  .boardContainer {
    display: flex;
    justify-content: center;
    padding: 6vh 0;
    margin-bottom: 40px;
  }

  .footer {
    display: flex;
    justify-content: center;
    gap: 2%;

    .footerItem {
      width: 24vw;
      background: var(--button-secondary);
      padding: 15px 25px;
      border-radius: 8px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      position: relative;

      &.active {
        background: var(--button-primary);
      }

      &.active::before {
        content: "";
        position: absolute;
        top: -20px;
        left: 50%;
        transform: translateX(-50%);
        width: 0;
        height: 0;
        border-left: 16px solid transparent;
        border-right: 16px solid transparent;
        border-bottom: 20px solid var(--button-primary);
      }

      &.wider {
        width: 40vw;
        max-width: 250px;
      }

      &.alignVertical {
        flex-direction: column;
        align-items: flex-start;
      }

      &.alignCenter {
        align-items: center;
      }
    }

    .secondaryFooterItem {
      width: 24vw;
      padding: 15px 25px;
      text-align: center;
    }
  }

  .multiplayerStatContainer {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .menuContainer {
    display: flex;
    flex-direction: column;
    gap: 80px;
    align-items: center;

    .settings {
      display: flex;
      flex-direction: column;
      gap: 40px;
      width: 80vw;
      max-width: 800px;
      background: var(--text-white);
      padding: 6vw;
      border-radius: 20px;

      .eachSetting {
        display: flex;
        flex-direction: column;
        gap: 15px;

        .buttonContainer {
          width: 100%;
          display: flex;
          justify-content: space-between;

          .wider {
            width: 48%;
          }

          .narrower {
            width: 23%;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 769px) {
  .main {
    padding: 3vh 5vw;

    .boardContainer {
      padding: 8vh 0;
    }
  }
}

.button {
  padding: 10px 2vw;
  font-size: 20px;
  font-family: inherit;
  font-weight: inherit;
  border-radius: 30px;
  border: none;
  cursor: pointer;

  &.primary {
    background-color: var(--button-primary);
  }

  &.primary:hover {
    background-color: var(--button-primary-hover);
  }

  &.secondary {
    background-color: var(--button-secondary);
  }

  &.secondary:hover {
    background-color: var(--button-secondary-hover);
    color: var(--text-white);
  }

  &.menu {
    background-color: var(--menu-idle);

    &.active {
      background-color: var(--menu-active);
    }
    &.active:hover {
      background-color: var(--menu-active);
    }
  }

  &.menu:hover {
    background-color: var(--menu-hover);
  }
}

.textLevel1 {
  font-size: 48px;
}

.textPrimary {
  color: var(--text-primary);
}

.textSecondary {
  color: var(--text-secondary);
}

.textWhite {
  color: var(--text-white);
}

.textLevel2 {
  font-size: 32px;
}

@media only screen and (max-width: 426px) {
  .main {
    .menuContainer {
      gap: 15vw;

      .settings {
        gap: 8vw;
      }
    }
  }

  .board {
    grid-template-columns: repeat(4, 20vw) !important; /* Increase card width */
    grid-gap: 2vw !important; /* Increase grid gap */

    &.six {
      grid-template-columns: repeat(
        6,
        13vw
      ) !important; /* Increase card width */
    }
  }

  .card {
    height: 20vw !important; /* Increase card height */

    &.smaller {
      height: 13vw !important;
    }
  }

  .textLevel1 {
    font-size: 36px !important;
  }

  .textLevel2 {
    font-size: 20px !important;
  }

  .button {
    font-size: 16px;
    padding: 10px 20px;
  }

  .statContainer {
    .buttonContainer {
      flex-direction: column;
      justify-content: center;
      gap: 15px;

      .statButton {
        width: 100% !important;
      }
    }
  }
}

.board {
  display: grid;
  grid-template-columns: repeat(4, 100px); /* Increase card width */
  grid-gap: 18px; /* Increase grid gap */

  &.six {
    grid-template-columns: repeat(6, 80px); /* Increase card width */
  }
}

.card {
  border-radius: 8px; /* Increase border radius */
  text-align: center;
  height: 100px; /* Increase card height */
  font-weight: bold;
  position: relative;
  transform-style: preserve-3d;
  transition: all 0.2s;
  user-select: none;

  &.smaller {
    height: 80px;
  }
}

.card.gameover {
  pointer-events: none;
}

.card-0 {
  transform: rotateY(0deg);
}

.card.active {
  transform: rotateY(180deg);
}

.card.matched .cardFront {
  background-color: var(--button-primary);
  color: white;
}

.cardFront,
.cardBack {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  backface-visibility: hidden;
  height: 100%;
  border-radius: 50%;
}

.cardFront {
  transform: rotateY(180deg);
  background-color: var(--menu-idle);
  color: var(--text-white);
  line-height: 90px; /* Adjust line-height */
  vertical-align: middle;
  text-align: center;
  font-size: 48px; /* Adjust font size */
  z-index: 2;
  display: flex; /* Add flex display */
  align-items: center; /* Center content vertically */
  justify-content: center; /* Center content horizontally */
}

.cardBack {
  background-color: var(--text-primary);
  transform: rotateY(0);
  z-index: 1;
}

.cardBack:hover {
  background-color: var(--button-secondary-hover);
}

.cardBack::after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 80%; /* Adjust circle size */
  height: 80%; /* Adjust circle size */
  border-radius: 50%;
}

.statContainer {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;

  .statSubcontainer {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    margin-top: 10px;

    .statItem {
      width: 100%;
      background: var(--button-secondary);
      padding: 15px 25px;
      border-radius: 8px;
      display: flex;
      justify-content: space-between;
      align-items: center;

      &.winner {
        background: var(--text-primary);
      }
    }
  }

  .buttonContainer {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 30px;
    margin-bottom: 10px;

    .statButton {
      width: 49%;
    }
  }

  .fullWidth {
    width: 100%;
  }
}
