.main {
  padding: 6vh 10vw;
  height: 100vh;

  .nav {
    display: flex;
    justify-content: space-between;

    .navButtonContainer {
      display: flex;
      gap: 10px;
    }
  }

  .boardContainer {
    display: flex;
    justify-content: center;
    padding: 6vh 0;
  }

  .footer {
    display: flex;
    justify-content: space-between;

    .footerItem {
      width: 18%;
      min-width: 200px;
      background: var(--button-secondary);
      padding: 15px 25px;
      border-radius: 8px;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }
}

.button {
  padding: 10px 30px;
  font-size: 20px;
  font-family: inherit;
  font-weight: inherit;
  border-radius: 30px;
  border: none;
  cursor: pointer;

  &.primary {
    background-color: var(--button-primary);
  }

  &.secondary {
    background-color: var(--button-secondary);
    color: var(--text-primary);
  }
}

.textLevel1 {
  font-size: 48px;
}

.textSecondary {
  color: var(--text-secondary);
}

.textLevel2 {
  font-size: 32px;
}
